<h1 translate>Campaign editor</h1>
<form class="form-horizontal" ng-submit="onSubmit()">
    <div class="control-group">
        <label class="control-label" for="name" translate>Name</label>
        <div class="controls">
            <input type="text" id="name" ng-model='campaign.name' app-validator='name' app-validator-message-position='right' placeholder="{{'Name'|translate}}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="start-date" translate>Start date</label>
        <div class="controls">
            <input type="text" id="start-date" ng-model="campaign.startDate" app-validator='startDate' placeholder="{{'Start date'|translate}}" ui-date="{dateFormat:'dd.mm.yy'}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" translate>Budget</label>
        <div class="controls">
            <input type="text" id="budget" ng-model="campaign.budget"  app-validator='budget' placeholder="{{'Budget'|translate}}" app-numeric="{vMin: 0, vMax: 1000000}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" translate>Regions</label>
        <div class="controls">
            <input ng-model="campaign.regions" ui-select2="{data: regions, formatSelection: regionFormat, formatResult: regionFormat}" app-validator='regions' data-placeholder="{{'Select region'|translate}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" translate>Network</label>
        <div class="controls">
            <input type="checkbox" id="network" ng-model="campaign.network" app-validator="network" placeholder="{{'Network'|translate}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="comment" translate>Comment</label>
        <div class="controls">
            <textarea name="comment" id="comment" ng-model="campaign.comment" app-validator="comment"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-success" type="submit" value="{{'Save'|translate}}"/>
            <a class="btn btn-warning" ui-sref="campaignsList" translate>Cancel</a>
        </div>
    </div>
</form>