
<h1 translate>Campaigns list</h1>
<div class="control-group pull-right">
    <a ui-sref="campaignsCreate" class="btn btn-success"><i class="icon-plus icon-white"></i> <span translate>Create new</span></a>
</div>
<div class="clearfix"></div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th translate>#</th>
            <th translate>Name</th>
            <th translate>Start Date</th>
            <th><span translate>Budget</span>, <app-currency-sign /></th>
            <th translate>Network</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in campaigns">
            <td>{{c.id}}</td>
            <td><a ui-sref="campaignsEdit({campaignId: c.id})">{{c.name}}</a></td>
            <td>{{c.startDate | amDateFormat:'L' }}</td>
            <td app-numeric="{aSign: ''}" ng-model='c.budget'></td>
            <td>{{c.network | checkmark}}</td>
        </tr>
    </tbody>
</table>
<app-pagination total-items="campaignsTotal" page="currentPage+1" items-per-page="itemsPerPage" max-size="5"
                class="pagination" boundary-links="true" rotate="false" on-select-page="onPageChange(page-1)"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></app-pagination>
